body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.container {
    width: 700px;
    height: 300px;
    background-color: #222;
    border-radius: 5px;
}

.bar {
    fill: rgb(214, 214, 214);
}

h1 {
    text-align: center;
}

.wrapper {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}