body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.container {
    width: 700px;
    height: 500px;
    /* padding-bottom: 1rem; */
    border-radius: 5px;
}

.bar {
    fill:#444;
}

h1 {
    text-align: center;
}

.eerste-grafiek {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.geo {
    width: 700px;
    height: 500px;
    /* padding-bottom: 1rem; */
    border-radius: 5px;
}
