.container {
    width: 700px;
    height: 200px;
    background-color: #140A69;
}

.bar {
    fill: #DFDFF5;
}

h1 {
    text-align: center;
}

.wrapper {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}